SciComPy_Project/Arithmetic_Formatter/__pycache__/
SciComPy_Project/Budget_App/__pycache__/
SciComPy_Project/Polygon_Area_Calculator/__pycache__/
SciComPy_Project/Probability_Calculator/__pycache__/
SciComPy_Project/Time_Calculator/__pycache__/
